# Place this file on your VPS at: /home/envs/bloatbuster.env
NODE_ENV=production
PORT=3000
SHOPIFY_API_KEY=468869026551455874d932a9608b7494
SHOPIFY_API_SECRET=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
SCOPES=read_themes,write_themes
HOST=https://bloatbuster.relayworks.com
